.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
/* 
p {
  margin: 0 0 1em 0;
} */

body {
  overflow-x: hidden;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2 {
  margin: 0.5em 0;
}
 .btn {
   border: 1px solid pink;
   color: #f50057;
   font-size: 1rem;
   padding: 10px;
   text-transform: uppercase;
    margin-top: 20px;
    margin: auto;
    display: block;
    background-color: #fff;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    cursor: pointer;
 }
 .btn:hover{
   transform: scale(1.05);
   background-color: #f50057;
   color: #fff;
 }

 input {
   border: 1px solid lightgray;
   padding: 7px;
   margin: 0.5em 0;
 }

 hr {
   width: 80%;
   border: 2px solid pink;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .fa-chevron-right{
   color: #f50057;
   cursor: pointer;
 }

 .fa-chevron-right:hover{
   transform: scale(1.1);
 }

 .error-message {
   position: absolute;
   z-index: 3;
   width: 260px;
   background: #fff;
   color: red;
   padding: 60px;
   border: 2px solid yellow;
   position:fixed;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%,-50%);
   -moz-transform:translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
 }

/*****CAMI CSS******/
.flex {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.wrapper {
  display: grid;
  max-width:100%;
}

header {
  border:1px solid red;
  background-color: pink;
  color: white;
  text-align: center;
  font-size: 1.3em;
  margin: 0 0 2em 0;
}

.name-form {
  text-align: center;
}

.paris-images {
  width: 260px;
}

.paris-images img {
  width: 100%;
}

.paris-images img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.paris-images img:hover::after{
  content:"ಕನ್ನಡ";
  
}

.chosen-paris-img {
  border: 2px solid #f50057;
}

.player-stats {
  margin: 0px auto;
  text-align: center;
  font-size: 1em;
}

.clicker {
  margin: 0px auto;
}

.clicker:hover {
  cursor: pointer;
}

/**Clicker**/

.clicker-img {
  width: 240px;
  background-size: cover;
  margin: 0px auto;
  margin-top: 1em;
}


/**upgrades**/

.upgrades-title {
  text-align: center;
}

.upgrades-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.upgrade-div {
  display: grid;
  grid-template-columns: 80px auto;
}

.upgrade-img-div img {
  width: 100%;
}
.upgrade-description {
  font-size: 0.7em;
}

.not-active {
  cursor: default;
  opacity: 0.6;
}

.active {
  border: 2px solid #f50057;
  opacity: 1!important;
  cursor: pointer;
  opacity: 1;
}
.active:hover {
  transform: scale(1.1);
}

.hide {
  display:none;
}



@media screen and (min-width: 592px) {
  .upgrades-wrapper {
      grid-template-columns: repeat(4, 1fr);
  }

}



@media screen and (min-width: 992px) {    
.wrapper {  
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
      "h h h h h h h h s s s s"
      "p p p p p p p p u u u u";
}

header {
  grid-area: h;
  font-size: 1.5em;
}

.player-stats {
  grid-area: s;
}

.clicker {
  grid-area: p;
}

.clicker-img {
  width: 400px;
}

hr{
  display: none;
}
.upgrades {
  grid-area: u;
}

.upgrades-wrapper {
    grid-template-columns: repeat(2, 1fr);
}
}
