.App-logo {
  animation: App-logo-spin infinite 20s linear;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*****CAMI CSS******/

.wrapper {
  display: grid;
}

header {
  border:1px solid red;
  background-color: pink;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
.name-form {
  text-align: center;
}

.paris-images {
  margin: 0px auto;
  text-align: center;
}

.paris-images img {
  width: 55%;
}

.player-stats {
  margin: 0px auto;
  text-align: center;
  font-size: 1em;
}

.clicker {
  margin: 0px auto;
}

/**Clicker**/

.clicker-img {
  width: 240px;
  background-size: cover;
  margin: 0px auto;
}


/**upgrades**/
.upgrades {
}

.upgrades-title {
  text-align: center;
}

.upgrades-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.upgrade-div {
  display: grid;
  grid-template-columns: 80px auto;
}

.upgrade-img-div img {
  width: 100%;
}

.upgrade-description {
  font-size: 0.7em;
}

.not-active {
  cursor: default;
}

.active {
  border: 4px solid rgb(255, 0, 85);
  opacity: initial;
  cursor: pointer;
}
.hide {
  display:none;
}



@media screen and (min-width: 592px) {
  .upgrades-wrapper {
      grid-template-columns: repeat(4, 1fr);
  }
}



@media screen and (min-width: 992px) {    
.wrapper {  
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
      "h h h h h h h h s s s s"
      "p p p p p p p p u u u u";
}

header {
  grid-area: h;
  font-size: 1.5em;
}

.player-stats {
  grid-area: s;
}

.clicker {
  grid-area: p;
}

.clicker-img {
  width: 400px;
}

.upgrades {
  grid-area: u;
}

.upgrades-wrapper {
    grid-template-columns: repeat(2, 1fr);
}
}
